
<header id="navbar">
  <nav class="navbar navbar-expand-lg text-center" >
  <div class=" mx-sm-auto py-1 py-lg-0" id="mobile-nav">
    <a href="{% url 'home' %}" class="main-logo-link text-decoration-none">
        <h2 class="logo-font py-auto ">Robbie's <strong class="red">Gym</strong></h2>
    </a>
</div>
  <button class="navbar-toggler n-toggler py-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="nav-toggler m-auto"><i
      class="fas fa-bars fa-1x"></i></span>
  </button>

  <div  class="col-auto collapse navbar-collapse my-auto py-1 py-lg-0  " id="navbarSupportedContent">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}" id="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about_us' %}" id="about">About us</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="{% url 'plan' %}"  id="plans">Plans</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'products' %}" id="product">Products</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'schedule' %}" id="schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}" id="contact">Contact</a>
      </li>

      </ul>

      <div class="col-auto my-auto py-1 py-lg-0">
        <ul class="col-12 list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown ">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0"> <i class="fas fa-user fa-sm"></i> My Account
                        </p>
                    </div>
                </a>
                <div class="dropdown-menu border-0 rounded-0" id="menu"  aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        <a href="{% url 'add_trainer' %}" class="dropdown-item">Trainer Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket'%}">
                    <div class="text-center basket">
                    
                        <p class="my-0"><i class="fas fa-shopping-bag fa-sm"> </i>
                            {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                            {% else %}
                                $0.00
                            {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
      </div>
  </div>
</nav>
</header>
