{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/plan.css' %}" />
{% endblock %} {% block page_header %} {% endblock %} {% block content %}

<div class="section-header px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-5 text-center">
  <hr class="top-hr" />
  <h1 class="white-h1">Membership</h1>
  <p class="lead">
    Starting out on your journey to fitness can be a daunting prospect but one
    that can change your life in the most positive way imaginable. A membership
    with <strong class="text-white">Robbie’s </strong
    ><strong class="red">GYM</strong> will give you unrivalled choice and value
    to help you achieve your health and fitness goals, where you will enjoy
    unlimited access to each of its modern fitness clubs, extensive fitness
    class programmes.
  </p>
</div>

<hr />

<div class="container col-12">
  <div class="card-group mb-3 text-center">
    <div class="card mb-4 ml-2 text-white" id="plan-1">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Annual Membership</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title white-h1">
          £253
          <p class="text-muted">One Payment</p>
        </h1>
        <ul class="list-unstyled mt-3 mb-4 text-left">
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Full
            multi-club access to Activ8 gym, swimming and fitness classes
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Free
            gym induction
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Free
            training plan and ongoing updates
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i>
            Discount on Arnold's Active activities and services
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i>
            Privilege member only fitness classes
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> One
            one-off payment
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> No
            joining fee applies
          </li>
        </ul>
      </div>

      <div class="card-footer">
        <a
          class="btn primary-btn"
          href="{% url 'product_detail' product_id='176' %}"
          >Buy now</a
        >
      </div>
    </div>
    <div class="card mb-4 ml-2 text-white" id="plan-2">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">12 Month Privilege</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title white-h1">
          £22.99
          <p class="text-muted">Per Month</p>
        </h1>
        <ul class="list-unstyled mt-3 mb-4 text-left">
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> 12
            month committed period, paid monthly by direct debit
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Full
            multi-club access to gym, swimming and fitness classes
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Free
            gym induction
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Free
            training plan and ongoing updates
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i>
            Discount on Tees Active activities and services
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i>
            Privilege member only fitness classes
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <a
          class="btn primary-btn"
          href="{% url 'product_detail' product_id='177' %}"
          >Buy now</a
        >
      </div>
    </div>

    <div class="card mb-4 ml-2 text-white" id="plan-3">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Month to Month</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title white-h1">
          £29
          <p class="text-muted">Per Month</p>
        </h1>
        <ul class="list-unstyled mt-3 mb-4 text-left">
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Full
            multi-club access to Activ8 gym, swimming and fitness classes
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> Free
            gym induction
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> 1
            month committed period, paid by Direct Debit
          </li>
          <li>
            <i class="fa fa-check-circle-o fa-sm" aria-hidden="true"></i> No
            joining fee applies
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <a
          class="btn primary-btn"
          href="{% url 'product_detail' product_id='178' %}"
          >Buy now</a
        >
      </div>
    </div>
  </div>
  <hr />

  <!-- Classes Section Begin -->
  <section class="classes-section">
    <div class="class-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div>
              <h1 class="white-h1">Our GYM</h1>
              <p>
               We're delighted that our clubs are now open. Things are a little different, but our bright, 
               airy indoor spaces and diverse outdoor facilities provide
                the perfect environment for you to enjoy a safe and varied fitness experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid mb-5">
      <div class="row text-center">
        <div class="col-lg-3">
          <div class="classes-item" id="classes-1">
            <h2 class="pt-1">WE'RE OPEN</h2>
            <p>
              *Following the changes announced by the UK Government on Wednesday 23rd September, 
              we have been assured that the social distancing measures we 
              have in place in all of our Clubs allow us to continue to operate as we have been since reopening. 
              We will ensure any further instructions or changes are followed and our members will be kept informed.
            </p>
            <div class="card-footer">
           <a class="btn " href="{% url 'contact' %}">Contact</a>
           </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="classes-item" id="classes-2">
            <h2 class="pt-1">SAFETY & SOCIAL DISTANCING</h2>
            <p>
            The safety of our teams and members is our number one priority,
            and while things might look a little different, our clubs continue to provide a 
            premium health and fitness experience. We are incorporating extensive cleaning protocols
            and social distancing practices throughout our clubs. 
            </p>
            <div class="card-footer ">
              <a class="btn" href="{% url 'contact' %}">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="classes-item" id="classes-3">
            <h2 class="pt-1">GYM FACILITIES</h2>
            <p>
            Get back into your routine with the return of our state-of-the-art gym facilities, 
            with all the space and equipment you need to enjoy a varied and challenging workout. 

            Whether you've been yearning for a return to your favourite cardio machines, 
            desperate to get back to a huge range of free weights, 
            or keen to pick up where you left off with our functional 
            training equipment - we have everything you need and more in our spacious gyms.
           </p>
            <div class="card-footer">
            <a class="btn" href="{% url 'contact' %}">Contact</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="classes-item feature" id="classes-4">
            <h2 class="pt-1">FITNESS CLASSES</h2>
            <p>
                Our varied programme of fitness classes is back, bringing you daily holistic, 
                strength and conditioning, cardio classes in our spacious, dedicated studios.

                If you thrive on the extra motivation you get by working out in a group, 
                our brilliant range of classes means you'll find a session that suits you.
             </p>
            <div class="card-footer">
            <a class="btn" href="{% url 'contact' %}">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Classes Section End -->

  {% endblock %}
</div>
