{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
        <!--Email Script-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
        
        <script type="text/javascript">
            (function(){
                emailjs.init("user_TJuSJ1DCV2RtGzT7VrKgN");
            })();
        </script>
    {% endblock %}

    {% block extra_js %}

    <!-- Javascript to add active class -->
    <script type="text/javascript">

        $(document).ready(function() {
	        // get current URL path and assign 'active' class
	        var pathname = window.location.pathname;
	    $('.collapse ul li a[href="'+pathname+'"]').parent().addClass('active');
        });

    </script>
    
    {% endblock %}

    <title>Robbie's Gym{% block extra_title %}{% endblock %}</title>

  </head>

  <body>
    <header>
      {% include 'includes/main-nav.html' %}
    </header>

     {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    
     <!-- FOOTER -->
  <div class="container col-12 footer mt-3">
        
            <div class="row ">
                <div class="mt-3 col-sm-6 text-center">
                        <h2 class=" p-3 ">Robbie's <strong class="red">GYM</strong></h2>
                </div>   
             <div class="mt-3 col-sm-6 ">
                    <ul class="list-inline p-3 text-center ">
						<li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/" rel="nofollow noopener" target="_blank" class=""><i class="fab fa-facebook-square"></i></a></li>
						<li class="list-inline-item"><a title="Twitter" href="https://twitter.com/?lang=en-gb" rel="nofollow noopener" target="_blank" class="twitter"><i class="fab fa-twitter-square"></i></a></li>
						<li class="list-inline-item"><a title="LinkedIn" href="https://uk.linkedin.com/" rel="noopener" target="_blank" class="pinterest"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a title="Instagram" href="https://www.instagram.com/?hl=en" rel="noopener" target="_blank" class="instagram"><i class="fab fa-instagram-square"></i></a></li>
						<li class="list-inline-item"><a title="YouTube" href="https://www.youtube.com/" rel="noopener" target="_blank" class="youtube"><i class="fab fa-youtube-square"></i></a></li>
					</ul>
        </div>
       <p class="p-3 ">&copy; RobbieB Webdesign</p>
            
       </div></div>
     <!--UP BUTTON-->
    <div class="fixed-bottom">
        <a href="#navbar" id="up" class="btn float-right m-2"><i class="fas fa-angle-up mt-1"></i></a>
    </div>
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
   
    {% endblock %}

    
  </body>
</html>