{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="about">
	<div class="container main-about col-12">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center mt-5 pt-5 section-title mobile">
					<h2 class="white-h2 mt-5 pt-5 ">About Us</h2>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- Breadcrumb End -->

<!-- About_us Section Begin -->
<section class="About_us mb-5">
	<div class="container">

		<div class="row">
			<div class="col-xl-9 col-lg-10 m-auto">
				<div class=" text-center mt-5">
					<h2 class="white-h2">ABOUT US</h2>
					<p> <strong class="text-white">Robbie’s </strong><strong class="red">GYM</strong> provide members
						with a wide range of facilities and services,
						delivering an overall health and wellness experience which offers much more than just a
						first-rate gym.</p>
					<img  class="mt-3" src="https://robbiesgym.s3.eu-west-2.amazonaws.com/static/img/push.jpg" alt="boxing">
                        </div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="about-us text-center">
						<h4 class="white-h4">ABOUT US</h4>
						<p><strong class="text-white">Robbie’s</strong><strong class="red">GYM</strong>
							provide the perfect destinations to stay fit and healthy as a family.
							Facilities include state-of-the-art gyms, heated indoor and outdoor pools,
							top-class racquets facilities, well-equipped group exercise studios and luxurious spas.
							And if you need a place to meet with friends or enjoy a bite to eat, our Gyms also feature
							large
							and inviting spaces to work, relax and socialise.</p>
						<p>We’re passionate about making our clubs a comfortable and welcoming place to come together
							with friends,
							family and fellow members to maintain physical and mental health and wellness.
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-quality ">

						<h4 class="white-h4 text-center">OUR QUALITY</h4>
						<p>Across our clubs, you can enjoy: </p>
						<ul>
							<li class="list"><i class="fa fa-check-circle-o"></i>SWiMMING - heated indoor and outdoor
								pools, and lessons provided by
								fully qualified instructors.</li>
							<li class="list"><i class="fa fa-check-circle-o"></i>Fitness classes - we offer a diverse
								range of group exercise classes.</li>
							<li class="list"><i class="fa fa-check-circle-o"></i>State-of-the-art gyms & expert Personal
								Trainers</li>
							<li class="list"><i class="fa fa-check-circle-o"></i>Racquets - match quality tennis and
								racquets facilities, and
								expert tennis coaching</li>
							<li class="list"><i class="fa fa-check-circle-o"></i>Clubrooms - spacious areas to eat,
								drink and socialise</li>
							<li class="list"><i class="fa fa-check-circle-o"></i>Kids activities & crèche - a safe and
								active environment for family</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

</section>
<!-- Aboutus Section End -->

<!-- Carousel -->
<div id="myCarousel" class="carousel slide mx-auto col-sm-12" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner mb-3">
		<div class="carousel-item active text-center">

			<div class="mt-3">
				<div class="rating mt-md-0">
					<i class="fa fa-star fa-sm"></i>
					<i class="fa fa-star fa-sm"></i>
					<i class="fa fa-star fa-sm"></i>
					<i class="fa fa-star fa-sm"></i>
					<i class="fa fa-star fa-sm"></i>
				</div>
				<h4 class="white-h4 ">They made me feel welcome and I really feel part of something.
					Wish I’d done it years ago now. A great place with lovely people.</h4>
				<div class="author-name">
					<h5 class="white-h5 ">Jennifer Lawrence</h5>
					<span class="text-white">Actress</span>
				</div>
				<div class="author-pic">
					<img  class="rounded-circle mt-3" src="https://robbiesgym.s3.eu-west-2.amazonaws.com/static/img/JenniferLaw.jpg" alt="Jennifer Lawrence"></div>
				</div>
			</div>
			<div class="carousel-item text-center">

				<div class="">
					<div class="rating mt-3">
						<i class="fa fa-star fa-sm"></i>
						<i class="fa fa-star fa-sm"></i>
						<i class="fa fa-star fa-sm"></i>
						<i class="fa fa-star fa-sm"></i>
						<i class="fa fa-star fa-sm"></i>
					</div>
					<h4 class="white-h4">So impressed with all this fitness centre has to offer.
						Huge variety of classes during the daytime & the staff are so friendly.</h4>
					<div class="author-name">
						<h5 class="white-h5">Jason Statham</h5>
						<span class="text-white">Actor</span>
					</div>
					<div class="author-pic">
						<img  class="rounded-circle mt-3" src="https://robbiesgym.s3.eu-west-2.amazonaws.com/static/img/jason.jpg" alt="Jason Statham"></div>
					</div>
				</div>
				<div class="carousel-item text-center">

					<div class="">
						<div class="rating mt-3">
							<i class="fa fa-star fa-sm"></i>
							<i class="fa fa-star fa-sm"></i>
							<i class="fa fa-star fa-sm"></i>
							<i class="fa fa-star fa-sm"></i>
							<i class="fa fa-star fa-sm"></i>
						</div>
						<h4 class="white-h4">One of the most interesting and useful exercises we have done.
							Practical, specific, actionable and enlightening.
							I highly recommend Robbi's GYM. A game changer.</h4>
						<div class="author-name">
							<h5 class="white-h5">Jason Momoa</h5>
							<span class="text-white">Actor</span>
						</div>
						<div class="author-pic">
							<img class="rounded-circle mt-3" src="https://robbiesgym.s3.eu-west-2.amazonaws.com/static/img/momoa.jpg" alt="Jason Momoa"></div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- Testimonial Section End -->
			{% include 'about_us/trainers.html' %}




			{% endblock %}