{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-5 text-center">
    <hr class="top-hr mt-5">
    <h1 class="white-h1">Trainer</h1>
    <hr>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid mt-5">
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if trainer.image %}
                        <a href="{{ trainer.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ trainer.image.url }}" alt="{{ trainer.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ trainer.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="trainer-details-container mb-5 mt-md-5">
                    <h4 class="white-h4">Trainer :</h4>
                    
                    <h4 class="white-h4">{{ trainer.name }}</h4>
                   
                    <p class="mt-3">{{ trainer.description }}</p>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_trainer' trainer.id %}" class="btn-edit">Edit</a> | 
                            <a class="text-danger btn-edit" href="{% url 'delete_trainer' trainer.id %}">Delete</a>
                        </small>
                    {% endif %}
                   
                        
                             <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'about_us' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left fa-sm text-white"></i>
                                    </span>
                                    <span class="text-uppercase">About us</span>
                                </a>
                            </div>
                           
                            
                        </div>
                 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}