{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block page_header %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto mt-5 text-center">
	<hr class="top-hr mt-5">
	<h1 class="white-h1">CLASS TIMETABLE</h1>
	<hr>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid col-12">
	<div class="row mt-3">
		<div class="col-12">
			<div class="timetable-controls">
				<ul>
					<li data-tsfilter="all">all class</li>
					<li data-tsfilter="crossfit" class="">crossfit</li>
					<li data-tsfilter="bootcamp" class="">bootcamp</li>
					<li data-tsfilter="boxercize" class="">boxercize</li>
					<li data-tsfilter="moveit" class="">move it</li>
					<li data-tsfilter="vind" class="">vin diesel</li>
				</ul>
			</div>
		</div>
	</div>
    
	<div class="row">
		<div class="col-10 classtime-table mx-auto filtering mt-3">
			<table>
				<thead>
					<tr class="ml-3">
						<th></th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
						<th>Saturday</th>
						<th>Sunday</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="workout-time">10.00</td>
						<td class="hover-bg ts-item show" data-tsmeta="crossfit">
							<span>10.00 - 14.00</span>
							<h6>Crossfit</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item show" data-tsmeta="crossfit">
							<span>10.00 - 15.00</span>
							<h6>Crossfit</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="bootcamp">
							<span>10.00 - 13.00</span>
							<h6>bootcamp</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="bootcamp">
							<span>10.00 - 13.30</span>
							<h6>bootcamp</h6>
						</td>
					</tr>
					<tr>
						<td class="workout-time">14.00</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="bootcamp">
							<span>14.00 - 17.00</span>
							<h6>bootcamp</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item show" data-tsmeta="crossfit">
							<span>14.00 - 17.00</span>
							<h6>Crossfit</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="boxercize">
							<span>14.00 - 15.30</span>
							<h6>boxercize</h6>
						</td>
						<td></td>
					</tr>
					<tr>
						<td class="workout-time">16.00</td>
						<td class="hover-bg ts-item" data-tsmeta="bootcamp">
							<span>16.00 - 18.00</span>
							<h6>bootcamp</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="vind">
							<span>16.00 - 19.00</span>
							<h6>Vin D</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="vind">
							<span>16.00 - 19.00</span>
							<h6>Vin D</h6>
						</td>
						<td class="hover-bg ts-item" data-tsmeta="boxercize">
							<span>16.00 - 17.00</span>
							<h6>boxercize</h6>
						</td>
						<td class="hover-bg ts-item" data-tsmeta="arnie">
							<span>16.00 - 20.00</span>
							<h6>Arnie</h6>
						</td>
					</tr>
					<tr>
						<td class="workout-time">18.00</td>
						<td class="hover-bg ts-item" data-tsmeta="moveit">
							<span>18.00 - 20.00</span>
							<h6>move it</h6>
						</td>
						<td class="hover-bg ts-item" data-tsmeta="boxercize">
							<span>18.00 - 20.00</span>
							<h6>boxercize</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="therock">
							<span>18.00 - 22.00</span>
							<h6>The Rock</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item" data-tsmeta="jason">
							<span>18.00 - 22.00</span>
							<h6>Jason</h6>
						</td>
						<td></td>
					</tr>
					<tr>
						<td class="workout-time">20.00</td>
						<td class="hover-bg ts-item" data-tsmeta="daveb">
							<span>21.00 - 23.00</span>
							<h6>dave bautista</h6>
						</td>
						<td class="hover-bg ts-item" data-tsmeta="moveit">
							<span>20.00 - 22.00</span>
							<h6>Move it</h6>
						</td>
						<td class="hover-bg ts-item" data-tsmeta="moveit">
							<span>20.30 - 23.00</span>
							<h6>move it</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item show" data-tsmeta="crossfit">
							<span>22.00 - 23.00</span>
							<h6>Crossfit Lv2</h6>
						</td>
						<td></td>
						<td class="hover-bg ts-item show" data-tsmeta="crossfit">
							<span>21.00 - 23.00</span>
							<h6>Crossfit Lv2</h6>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<!-- Classes Section Begin -->

	<div class="container-fluid col-12 p-0 m-0">

		<hr>
		<div class=" text-center ">
			<h1 class="white-h1">CLASSES</h1>
			<p class="mb-5">Our experts can help you discover new training techniques and exercises
				<br />that offer a dynamic and efficient full-body workout.</p>
				<hr>
		</div>
	</div>

	<div class="container-fluid  p-0">
		<div class="row col-12 mb-5 mx-0">
        
			<div class="col-lg-4 ">
				<div class="classes-item text-center ">
					<h4 class="text-uppercase">Crossfit</h4>
					<p>A form of high intensity interval training, CrossFit is a strength and conditioning workout that
						is made up of functional movement performed at a high intensity level.</p>
					<a href="#" data-toggle="modal" data-target="#exampleModal" class="btn ">Read More</a>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header bg-dark">
									<h5 class="modal-title" id="exampleModalLabel">What is CrossFit?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="close">&times;</span>
                                </button>
								</div>
								<div class="modal-body bg-dark text-white">

									<p> A form of high intensity interval training, CrossFit is a strength and
										conditioning
										workout that is made up of functional movement performed at a high intensity
										level.<br></p>


										<p>These movements are actions that you perform in your day-to-day life, like
											squatting,
											pulling, pushing etc. Many workouts feature variations of squats, push-ups,
											and weight lifting that last for predetermined amounts of time to help build
											muscles.
											This varies from a traditional workout that may tell you how many reps to do
											over any period of time.<br></p>
											<p>
												CrossFit Journal notes that the workouts are so effective because of
												their emphasis on the elements of load,
												distance and speed, which help participants develop high levels of
												power.
												The workout may utilize different equipment to accomplish this,
												including kettle bells,
												rowers and bikes, medicine balls, speed ropes, rings and plyo
												boxes.<br></p>
												<p>
													CrossFit is similar to Orange Theory in that there is a standard
													"workout of the day" (WOD)
													that all members complete on the same day. The daily workout can be
													found on our website,
													along with a guide to all the specialized lingo that is used.
													“CrossFit is universally scalable and modifiable for all fitness
													levels,
													so it can be tailored to meet your goals and current fitness level,”
													says Arnold,head coach of
													<strong class="text-white">Robbie’s </strong><strong class="red">GYM</strong>.
												</p>


												Follow us on Facebook, Twitter and Instagram.
								</div>
								<div class="modal-footer bg-dark">
									<strong class="text-white">Robbie’s</strong><strong class="red">GYM</strong>
									<button type="button" class="btn " data-dismiss="modal">Close</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="classes-item text-center">
					<h4 class="text-uppercase">BootCamp</h4>
					<p> Fitness boot camps offer an opportunity to build your strength and endurance.
						But make sure you know what to expect before marching into boot camp
					</p>
					<a href="#" class="btn " data-toggle="modal" data-target="#exampleModal2"> Read More </a>

					<!-- Modal 2-->

					<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel2" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header bg-dark">
									<h5 class="modal-title" id="exampleModalLabel2">Just what is a boot camp workout?
									</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
								</div>
								<div class="modal-body bg-dark text-white">
									Boot camp workouts can vary. They generally include a fairly intense mix of aerobic,
									strength training and speed elements
									within each class session. One boot camp workout might stress calisthenics while
									another stresses military-style drills.
									<p>In most cases, you can expect to do calisthenics, such as pullups, pushups,
										lunges and crunches, as well as drills and sprints. A boot camp workout is
										essentially a type of interval training — bursts of intense activity alternated
										with intervals of lighter activity.</p>
								</div>
								<div class="modal-footer bg-dark text-white">
									<strong class="text-white">Robbie’s</strong><strong class="red">GYM</strong>
									<button type="button" class="btn" data-dismiss="modal">Close</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
	

			<!-- Modal 4-->
			<div class="col-lg-4">
				<div class="classes-item text-center">
					<h4 class="text-uppercase">BOXERCIZE</h4>
					<p> is a high intensity interval training class based on boxing training.
						It differs from boxing in that boxing is a competitive sport
						whereas Boxercise includes aspects of boxing training but not sparring or competitive bouts.</p>
					<a href="#" class="btn " data-toggle="modal" data-target="#exampleModal4">Read More</a>
				</div>

				<!-- Modal 4-->

				<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel4" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header bg-dark text-white">
								<h5 class="modal-title" id="exampleModalLabel4">BOXERCIZE</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
					        </div>
							<div class="modal-body bg-dark">
								<p>BOXERCIZE training can be an extremely effective way to target a range of physical
									characteristics within a short timeframe
									BOXERCIZE can be used to develop aerobic fitness, anaerobic capacity, strength/speed
									endurance and ability
									to maintain movement under fatigue. </p>
								<p class="text-white">We may use circuits to :</p>
                            <ul>    
								<li class="text-light">Add extra conditioning to the end of boxing sessions</li>
								<li class="text-light">Re-introduce athletes to training to gradually build training
									load, if they have had some time off</li>
								<li class="text-light">Train an athlete that is heavy (15-20% above competition body
									mass)</li>
								<li class="text-light">Save time and target multiple adaptations</li>
								<li class="text-light">Train an injured athlete</li>
                            </ul>

								<p> Although we prioritise high–intensity interval running training to develop a boxer’s
									fitness, we still use circuits for training variation.
									This reduces the physical monotony that can occur when an athlete has high training
									loads.</p>
							</div>
							<div class="modal-footer bg-dark text-white">
								<strong class="text-white">Robbie’s</strong><strong class="red">GYM</strong>
								<button type="button" class="btn" data-dismiss="modal">Close</button>

							</div>
						</div>
					</div>
				</div>
			</div>
	</div></div>

<!---Notes--->
<section class="classtime-section class-time-table ">
	<div class="container-fluid col-12 p-0 m-0">

		<hr>
		<div class=" text-center ">
			<h1 class="white-h1">EXERCISE NOTES</h1>
		</div>
		<hr>
	</div>
		<div class="row col-12 p-3 ">

			{% for comment in comments %}
			<div class="m-3 col-12">
				<ul class="list-unstyled ">
					<li>
						{% if request.user == comment.created_by  %}
						<div class="card-body textarea  mb-3">
							<h3 class="mb-0 bg-dark p-1 rounded mb-1">{{ comment.name }}</h3>
							<p class="mb-0 bg-dark p-1">Modified : {{ comment.date_modified }}</p>
							<p class="mb-0 bg-dark p-1">{{ comment.created_by }}</p>
							<p class="mb-0 bg-dark text-white p-1">{{ comment.comment }}</p>
                        </div>
                        
						<div class="mt-3">
								<a class="btn" href="{% url 'edit_comment' comment.id %}">Edit</a>
								<a class="btn" href="{% url 'delete_comment' comment.id %}">Delete</a>
								<a class="btn" href="{% url 'add_comment' %}">Add</a>
						</div>
                        {% endif %}
                    </li>
				</ul>
			</div>
            {% endfor %}
		<div class="col-12">
        <a class="btn" href="{% url 'add_comment' %}">Add note</a></div>
		</div>
	
</section>
<!--END COMMENTS-->



<!-- Classes Section End -->

<script>
	$('.timetable-controls ul li').on('click', function() {
        var tsfilter = $(this).data('tsfilter');
        $('.timetable-controls ul li').removeClass('active');
        $(this).addClass('active');
        
        if(tsfilter == 'all') {
            $('.classtime-table').removeClass('filtering');
            $('.ts-item').removeClass('show');
        } else {
            $('.classtime-table').addClass('filtering');
        }
        $('.ts-item').each(function(){
            $(this).removeClass('show');
            if($(this).data('tsmeta') == tsfilter) {
                $(this).addClass('show');
            }
        });
    });

</script>
{% endblock %}